:root{
    --primary-text-color: #757575;
    --tittle-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color:#ffffff;
    --logo-color:#000000;
    --background-hero-color:#2F303A;
    --section-command-color:#F5F4FA;
    --address-contact-color:rgba(255, 255, 255, 0.6);
}




body{
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

/* logo */

.logo{
    color: var(--accent-color);
    text-decoration: none;
    font-family: Raleway, cursive;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
}
.logo span{
    color: var(--logo-color);
    font-family: Raleway, cursive;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
}


.logo-footer{
    color: var(--accent-color);
    text-decoration: none;
    font-family: Raleway, cursive;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
}
.logo-footer span{
    color:var(--primary-white-color);
    font-family: Raleway, cursive;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
}

/* site-nav,auth-nav */

.site-nav,
.auth-nav{
    list-style: none;
}

.link,
.link-current {
    color: var(--tittle-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    
   
}
.auth-nav a{
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
}
.site-nav .link-current{
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;; 
}
.site-nav :hover,
.auth-nav :hover {
    color: var(--accent-color);
}
.site-nav :focus,
.auth-nav :focus {
    color:var(--accent-color);
}

/* main */
.section-tittle{
    color: var(--tittle-text-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.persons {
    list-style: none;
}
.persons-list {
    color: var(--tittle-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.job-list {
    list-style: none;
}
.text {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}
.section-command {
    background: var(--section-command-color);
}
.command-list{
    list-style: none;
}
.name {
    color: var(--tittle-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
}
.special{
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
}
.project {
    list-style: none;
}
.project-tittle{
    color: var(--tittle-text-color);
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project .text{
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* hero */
.hero-tittle{
    color: var(--primary-white-color);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
}
.hero{
    background-color: var(--background-hero-color);
}

/* footer */
.address-list{
    color: var(--primary-white-color);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    list-style: none;
    
}
.address{
    background-color: var(--background-hero-color);
}
.address .contact{
    color: var(--address-contact-color);
    text-decoration: none;
}
.address .contact:hover,
.address .contact:focus {
    color: var(--accent-color);
}

/* button */
.button {
    list-style: none;
}
.button-link{
    color: var(--tittle-text-color);
    background-color: var(--section-command-color);
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    cursor:pointer;
}
.button-link-current,
.button-link:hover,
.button-link:focus{
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
}
.button-primary{
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.8;
    cursor:pointer;
    border: 0;
    border-radius: 4px;
    
}
/* .button-link-current {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6; */
    
