:root{
    --primary-text-color: #757575;
    --tittle-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color:#ffffff;
}




body{
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}
.logo{
    color: var(--accent-color);
    text-decoration: none;
}
.logo span{
    color:#000000;
}
.logo-footer{
    color: var(--accent-color);
    text-decoration: none;
}
.logo-footer span{
    color:var(--primary-white-color);
}
ul{
    list-style: none; 
}
/* site-nav */
.site-nav a {
    color: var(--tittle-text-color);
    text-decoration: none; 
}
.auth-nav a {
    color: var(--primary-text-color);
    text-decoration: none;
}
.site-nav .link-current{
    color: var(--accent-color);
}

.site-nav a:hover,
.auth-nav a:hover {
    color: var(--accent-color);
}
.site-nav a:focus,
.auth-nav a:focus {
    color:var(--accent-color);
}
.section-tittle{
    color: var();
}
h3{
    color: var(--tittle-text-color);
}
.hero-tittle{
    color: var(--primary-white-color);
   
}
.hero{
    background-color: #2F303A;
}
.address-list{
    color: var(--primary-white-color);
}
.address{
    background-color: #000000;
}
.address .contact{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.address .contact:hover,
.address .contact:focus {
    color: var(--accent-color);
}
.portfolio {

}
.button-link{
    color: var(--tittle-text-color);
    background-color: #F5F4FA;
}
.button-link:hover{
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}
.button-primary{
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}